* {
  margin: none;
  padding: none;
  text-decoration: none;
}
.container {
  width: 600px;
  display: flex;
  flex-direction: column-reverse;
}
.banner img {
  width: 600px; 
}
.displayName{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
}
.arrow{
  width: 50px;
  height: 50px;
}
.displayName h1{
   font-size: large;
}
.displayName h3 {
  font-size:small;
  margin-top: -15px;
}
.username{
  display: flex;
  flex-direction: column;
  width: 100px;
}