* {
  margin: none;
  padding: none;
  text-decoration: none;
}
.container {
  width: 600px;
  display: flex;
  flex-direction: column;
}
.banner img {
  width: 600px; 
}
.displayName{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  height: 75px;
}
.displayName p {
  width: 50px;
  margin: 0 5px 0 25px; 
}
.displayName h1{
   font-size: large;
}
.displayName h3 {
  font-size:small;
  margin-top: -15px;  
  color: rgb(177, 177, 177);
}
.username{
  display: flex;
  flex-direction: column;
  width: 100px;
}

.avatar{
 background-color: transparent;
 transform: translateY(-90px);
}
.avatar img {
  border-radius: 100%;
  height: 150px; 
  width: 150px;
  border: 5px solid white;
}